@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway:wght@300;400&family=Roboto+Condensed&family=Source+Sans+Pro&family=Staatliches&display=swap');
@import url("https://use.fontawesome.com/d0c316cf02.js");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.Railway {
    font-family: 'Raleway', sans-serif;
}

.Roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif;
}

.Staatliches {
    font-family: 'Staatliches', sans-serif;
}

.Source-sans-pro {
    font-family: 'Source Sans Pro', sans-serif;
}

.Inter {
    font-family: 'Inter', sans-serif;
}

.undrag {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.text-closer {
    letter-spacing: -0.03rem;
}

.iconContainer svg {
    padding-top: 1px;
    vertical-align: text-top;
}

.background-animate {
    background-size: 300%;

    -webkit-animation: GradientAnimation 3s ease infinite;
    -moz-animation: GradientAnimation 3s ease infinite;
    animation: GradientAnimation 3s ease infinite;
}

@keyframes GradientAnimation {
0%,
100% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
}